.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

.paper {
    max-width: 100vw;
    height: 150px;
    padding: 20px;

}